<ion-view view-title="Home">
  <ion-content class="scroll">
		<ion-list>
			<div ng-controller="HomeCtrl">				
				<a class="item item-icon-left" href="#">
					<i class="icon ion-person"></i>
					UserName UserSurname
				</a>
				<a class="item item-icon-left" href="#">
					<i class="icon ion-cash"></i>
					UserMoney
				</a>
				<a class="item item-icon-left" href="#">
					<i class="icon ion-android-refresh"></i>
					Last Update
				</a>				
				<a class="item item-icon-right item-icon-left" href="#/tabsHome/home/eventsDetail">
					<i class="icon ion-android-calendar"></i>
					Upcoming Events
					<i class="icon ion-chevron-right icon-accessory"></i>
				</a>	
			</div>
		</ion-list>
    	<div class="button-bar">
		  <a class="button button-assertive">Charge</a>
		  <a class="button button-assertive" ng-click="logOut()">Log Out</a>
		</div>
  </ion-content>
</ion-view>

