<ion-view view-title="Sign Up">
  <ion-content class="scroll">
    <div class="list card">
      <div class="item item-divider">Nickname</div>
        <label class="item item-input">
          <input type="text" placeholder="Nickname">
        </label>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Name</div>
        <label class="item item-input">
          <input type="text" placeholder="Name">
        </label>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Surname</div>
        <label class="item item-input">
          <input type="text" placeholder="Surname">
        </label>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Email</div>
        <label class="item item-input">
          <input type="email" placeholder="Email">
        </label>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Password</div>
        <label class="item item-input">
          <input type="password" placeholder="Password">
        </label>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Confirm Password</div>
        <label class="item item-input">
          <input type="password" placeholder="Password">
        </label>
      </div>
    </div>
    <!-- <button class="btn btn-primary btn-lg" ng-click="createTodo()"> -->
    <button class="button button-block button-assertive">
      Sign Up
    </button>
  </ion-content>
</ion-view>