<ion-view view-title="Account">
  <ion-content class="scroll">
		<ion-list>
		  <div ng-controller="AccountCtrl">
			<a class="item item-icon-left" href="#">
				<i class="icon ion-cash"></i>
				{{user.userCurrency}} 
			</a>
		    <div class="button-bar">
				  <a class="button button-assertive" href="#/tabsHome/account/buy">Buy</a>
				  <a class="button button-assertive" href="#/tabsHome/account/gain">Sell</a>
			</div>
	   		<ion-item class="item-icon-right item-icon-left" type="item-text-wrap" href="#/tabsHome/account/historyDetail">
	   			<i class="icon ion-ios-paper-outline"></i>
	   			<h2>History</h2>
	    		<i class="icon ion-chevron-right icon-accessory"></i>
    		</ion-item>
    	</div>
		</ion-list>
  </ion-content>
</ion-view>