<ion-view view-title="Charge">
  <ion-content class="scroll">

  <div class="list card">
    <div class="item item-divider">Amount of money to charge</div>
      <form>
        <label class="item item-input">
          <input type="number" name="msg" placeholder="Amount">
        </label>
      </form>
    </div>  
    <div class="button-bar" ng-controller="ChargeCtrl">
        <a class="button button-block button-assertive" ng-click="goHome()">Charge</a>
    </div>    
  </div>

  </ion-content>
</ion-view>