<ion-view view-title="Account">
  <ion-content class="scroll">
		<ion-list>
		  <div ng-controller="AccountCtrl">
			<a class="item item-icon-left" href="#">
				<i class="icon ion-cash"></i>
				Saldo
			</a>
		    <div class="button-bar">
				  <a class="button button-assertive" ui-sref="tabsHome.buy">Buy</a>
				  <a class="button button-assertive">Sell</a>
			</div>
	   		<ion-item class="item-icon-right" type="item-text-wrap">
				<a class="item item-icon-left" href="#">
				<i class="icon ion-ios-paper-outline"></i>
				History
			</a>
    		</ion-item>
    	</div>
		</ion-list>
  </ion-content>
</ion-view>