<ion-view view-title="Log In">
  <ion-content class="scroll">
    <div class="list card">
      <div class="item item-divider">Nickname</div>
        <label class="item item-input">
          <input type="text" placeholder="Nickname">
        </label>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Password</div>
        <label class="item item-input">
          <input type="password" placeholder="Password">
        </label>
      </div>
    </div>
    <!-- <button class="btn btn-primary btn-lg" ng-click="createTodo()"> -->
    <button class="button button-block button-assertive"  ng-click="logIn()">
      Log In
    </button>
  </ion-content>
</ion-view>