<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Log In Tab -->
  <ion-tab title="Log In" icon-off="ion-ios-checkmark-outline" icon-on="ion-ios-checkmark" href="#/tab/logIn">
    <ion-nav-view name="tab-logIn"></ion-nav-view>
  </ion-tab>
  
    <!-- Sign Up Tab -->
  <ion-tab title="Sign Up" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/signUp">
    <ion-nav-view name="tab-signUp"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Forgot Password" icon-off="ion-alert-circled" icon-on="ion-alert-circled" href="#/tab/forgot-password">
    <ion-nav-view name="forgot-password"></ion-nav-view>
  </ion-tab>

</ion-tabs>
